<!-- Ajout d'un colaborateur temporaire, doit switcher sur une nouvelle page-->
             <div class="hr-line-dashed"></div>
             
             <div class="ibox-content"  >
                 <form method="post" class="form-horizontal" role="form">
                 <div class="form-group"><label class="col-sm-2 ">Nom</label>
                	<div class="col-sm-6">
                		<input type="text" ng-model="user.nom" class="form-control">
                	</div>
             	  </div> 
             	  <div class="form-group"><label class="col-sm-2">prenom</label>
                	<div class="col-sm-6">
                		<input type="text" ng-model="user.prenom" class="form-control">
                	</div>
             	  </div> 
             	  <div class="form-group" id="eventForm" >
                        <label class="col-sm-2 ">Date d'embauche</label>
                            <div class="col-sm-6 date">
                                <div class="input-group input-append date" id="datePicker">
                                <input type="date" ng-model="user.dateEmbauche" class="form-control" name="date">
                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                             </div>
                            </div>
                   </div>
                   <div class="form-group" >
                        <label class="col-sm-2">E-MAIL</label>
                            <div class="col-sm-6">
                                <input type="text" data-ng-model="user.email" class="form-control">
                            </div>
                   </div>
                   <div growl></div>
                   <button type="submit" class="btn btn-primary btn-sm" ng-click="ajouterCollaborateur()">Ajouter</button>
             	  </form>  
         	 </div>