<div class="hr-line-dashed"></div>
             
             <div class="ibox-content"  >
                 <form method="post" class="form-horizontal" role="form">
                 <div class="form-group"><label class="col-sm-2 ">Intitule</label>
                	<div class="col-sm-6">
                		<input type="text" ng-model="projet.intitule" class="form-control">
                	</div>
             	  </div> 
             	  <div class="form-group"><label class="col-sm-2">Date de debut</label>
                	<div class="col-sm-6">
                		<input type="text" ng-model="projet.dateDebut" class="form-control">
                	</div>
             	  </div> 
             	  <div class="form-group" >
                        <label class="col-sm-2 ">Date de fin</label>
                            <div class="col-sm-6">
                                <input type="text" ng-model="projet.dateFin" class="form-control">
                            </div>
                   </div>
                   <div growl></div>
                   <button type="submit" class="btn btn-primary btn-sm" ng-click="ajouterProjet()">Ajouter</button>
             	  </form>  
         	 </div>